[defaults]
host_key_checking = False
inventory = ../../proxmox/ansible/inventory/
remote_user = root
private_key_file = ~/.ssh/id_rsa
timeout = 30
gathering = smart
roles_path = ../../deployment/ansible/roles:../../common/ansible/roles
library = ../../deployment/ansible/library:../../common/ansible/library
stdout_callback = ansible.builtin.default
callback_result_format = yaml
bin_ansible_callbacks = True

[ssh_connection]
pipelining = True

[privilege_escalation]
become = True
become_method = sudo
